.cintillo {
	float: none;
	/*margin-left: auto;
  margin-right: auto;*/
	margin: 20px auto 20px auto;
	padding: 11px;
	color: #fff;
	border-radius: 7px;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #941869;


}

.a1 {
	background-image: url(../../images/icono-foco.png);
	background-repeat: no-repeat;
	background-size: 70px;
	background-color: #03AFCF;
}

.a2 {
	background-image: url(../../images/icono-colaboracion.png);
	background-repeat: no-repeat;
	background-size: 70px;
	background-color: #319D68;
}

.a3 {
	background-image: url(../../images/icono-media.png);
	background-repeat: no-repeat;
	background-size: 71px;
	background-color: #4C1A7D;
}

.a4 {
	background-image: url(../../images/icono-libro.png);
	background-repeat: no-repeat;
	background-size: 71px;
	background-color: #941869;
}

body {
	background-image: url('../../images/fondo8.jpg');
	background-repeat: no-repeat;
	background-position: center;
}

.required-field::after {
	content: "*";
	color: red;
}

/*
.container {
	background-image: url('../../images/fondo2.png');
	background-repeat: repeat;
	background-position: center;
  }
  */